body {
    text-align: center;
}
.laterburger {
    width: 50%;
    background-color: yellow;
    float: left;
}
 
.devouredburger {
    background-color: blue;
    width: 50%;
    float: left;
}

.burgerform {
    float: none;
    margin-top: 200px;
}

.burgerimage {
    width: 50%
}